.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00F, #6495ED);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00F, #6495ED); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header > img {
    height: 80%;
    width: 100px;
    margin-left: 10%;
}

.header > p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
    margin-left: 60px;
}


.meme-gen{
    display: grid;
    max-width: 80%;
    padding: 0 10%;
    justify-content: center;
}


.meme-form{
    width: 100%;
    padding: 10px;
    display: block;
    justify-content: space-around;
}

.meme-form input{
    padding: 10px;
    margin: 10px;
    align-content: center;
    width:300px;
    text-align: center;
}

.meme-form button{
    padding: 10px;
    margin: 10px;
    width: 90px;
    
}

.output{
    position: relative;
}

.output img{
    width: 100%;
    padding: 10px;
}

.output > h2{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.output > .bottom {
    bottom: 0;
}

.output > .top {
    top: 0;
}